@if (this.showHeader) {
  <div [ngClass]="{ 'c-header--is-for-article-page': isForArticlePage,
    'c-header--is-with-preferences': isWithPreferences}"
       class="c-header o-layout-max-width">
    <gothings-header-detail [headerDetail]="this.headerDetail"  (clickedPhoto)="this.togglePreferences()" />
    @if (this.isWithBack) {
      <gothings-button
        (click)="this.redirectToBack()"
        [description]="'Volver'"
        [buttonType]="ButtonType.Back" />
    }
  </div>

  @if (this.isWithPreferences && this.showPreferences) {
    <div class="c-header__preferences">
      <gothings-button
        (click)="this.navigateToEditProfile()"
        [description]="'Editar perfil'"
        [icon]="Icon.Edit"
        [buttonType]="ButtonType.Secondary" />
      @if (this.isWithButtonUserManagement) {
        <gothings-button
          (click)="this.navigateToEditProfile()"
          [description]="'Gestión de usuarios'"
          [icon]="Icon.Edit"
          [buttonType]="ButtonType.Secondary" />
      }
      <gothings-button
        (click)="this.onLogout()"
        [description]="'Cerrar sesión'"
        [icon]="Icon.Logout"
        [buttonType]="ButtonType.Secondary" />
    </div>
  }
}