<gothings-header [title]="'Artículo'" />
<div class="c-article-page">
  <div class="c-article-page__banner">
    <img class="c-article-page__banner-image" src="{{ this.articleCard.images[0] }}" />
    <div class="c-article-page__banner-container">
      <span class="c-article-page__banner-title o-text-xl-semibold">{{ this.articleCard.title }}</span>
      <span
        class="c-article-page__banner-description o-text-normal-medium">{{ this.articleCard.description }}</span>
      <span class="c-article-page__banner-date-published o-text-sm-light">Publicado {{ this.articleCard.date }}</span>
    </div>
    <div class="c-article-page__banner-buttons">
      <gothings-button [description]="this.articleCard.state"
                       [icon]="Icon.State"
                       [buttonType]="ButtonType.Tag" />
      <gothings-button [description]="this.articleCard.likes.toString()"
                       [icon]="Icon.Like"
                       [buttonType]="ButtonType.Tag" />
      <gothings-button [description]="this.articleCard.dislikes.toString()"
                       [icon]="Icon.Dislike"
                       [buttonType]="ButtonType.Tag" />
    </div>
  </div>
  <div class="c-article-page__content">
    <span class="o-text-xl-semibold">Publicador</span>
    <div class="c-article-page__user-card">
      <gothings-header-detail [headerDetail]="this.headerDetail" />
      @if (this.articleCard.user.about) {
      <span class="o-text-normal-medium">{{ this.articleCard.user.about }}</span>
      }

    </div>
    <span class="o-text-xl-semibold">Galería</span>
    <gothings-gallery [images]="this.articleCard.images" />

    @if (!this.isCurrentUserArticle()) {
      <gothings-button (click)="this.onContactWhatsApp()"
                       [description]="'Contactar por WhatsApp'"
                       [buttonType]="ButtonType.Contact" />
    } @else {

      <div class="c-article-page__action-buttons">
        <gothings-button (click)="this.onEditArticle()"
                         [description]="'Editar artículo'"
                         [icon]="Icon.Edit"
                         [buttonType]="ButtonType.Secondary" />
        <gothings-button (click)="this.onDeleteArticle()"
                         [description]="'Eliminar artículo'"
                         [icon]="Icon.Delete"
                         [buttonType]="ButtonType.Secondary" />
      </div>

    }
  </div>
</div>
