<div class="c-add-rating-card">
  <div class="c-add-rating-card__title-rating">
    <span class="o-text-base-semibold">Seleccionar los roles </span>
    @for (role of this.roles; track role) {
      <gothings-button (click)="this.onSelectedRole($event)" [selected]="role.isSelected" [icon]="role.icon"
                       [buttonType]="ButtonType.Tag" [description]="role.role" />
    }
  </div>

  @if (this.existsErrorMessage()) {
    <span class="o-text-sm-semibold">{{ this.errorMessage }}</span>
  }

  @if (this.showMessage) {
    <span class="o-text-sm-semibold">Se han guardado los cambios</span>
  }

  <gothings-button (click)="onSave()" [description]="'Guardar cambios'" [icon]="Icon.Star"
                   [buttonType]="ButtonType.Primary" />
</div>