<div class="c-explore-articles-page" [formGroup]="this.formGroup">

  <div class="c-explore-articles-page__title-get-all">
    <span class="o-text-xl-bold">Explorar</span>
    <gothings-button [description]="'Mostrar todos'" [icon]="Icon.View" (click)="this.service.getAll()"
                     [buttonType]="ButtonType.Secondary" />
  </div>
  <gothings-input (input)="this.onUpdateUsers()"  [formGroupName]="'title'" />

  <div class="o-layout-article-cards">
  @for (user of this.getUser(); track user.id) {
    <gothings-user-card [user]="user" />
  }
  </div>
</div>