<div class="c-home-page" [formGroup]="this.formGroup">

  <div class="c-home-page__title-get-all">
    <span class="o-text-xl-bold">Explorar</span>
    <gothings-button [description]="'Mostrar todos'" [icon]="Icon.Search" (click)="this.homeService.showAll()"
                     [buttonType]="ButtonType.Secondary" />
  </div>

  <div class="c-home-page__inputs">
    <gothings-input [formGroupName]="'title'" />
    <gothings-select [formGroupName]="'category'" [options]="this.categories" />
    <gothings-select [formGroupName]="'state'" [label]="'Ordenar por estado:'"
                     [options]="this.states" />
  </div>

  @if (this.homeService.isWorking()) {
    <span class="o-text-xl-bold">Cargando...</span>
  }

  @if (this.homeService.isCompleted()) {
    <span class="o-text-lg-semibold"> {{ this.getResultLabel() }}</span>

      <div class="o-layout-article-cards">
    @for (articleCard of this.homeService.articlesCards; track articleCard.id) {
        <gothings-article-card [articleCard]="articleCard" />
    }
      </div>
  }


</div>